body {
    background-color: #d6c8e6;
    font-family: Roboto, Sans-serif;
  }
  .form {
    height: 1200px;
    width: 600px;
    margin: auto;
  }
  
  .title,
  .ntitle {
    height: 125px;
    width: 600px;
    background-color: #f7fafa;
    margin: 15px;
    border-radius: 8px;
    border-top: 8px solid #6703c4;
    padding: 25px;
  }
  .name-div,
  .college-div,
  .gmail-div,
  .mobile-div,
  .marks-div,
  .image {
    height: 150px;
    width: 650px;
    background-color: #fdfefe;
    margin: 15px;
    border-radius: 8px;
  }
  .name {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-size: 15px;
  }
  .input-div {
    padding-top: 25px;
    padding-left: 25px;
  }
  .input-div input {
    width: 300px;
    border: 0;
    outline: 0;
    border-bottom: 1.5px solid #635d5d;
    font-size: 15px;
  }
  .btn {
    height: 20px;
    width: 70px;
    background-color: #6703c4;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  
    padding: 10px;
    position: absolute;
    margin: 15px;
    color: white;
  }
  .last-div h2 {
    text-align: center;
    padding-top: 50px;
    color: #a9cbec;
    font-weight: 200;
  }
  